# Balancear Datos

In [1]:
import pandas as pd

In [2]:
ruta_archivo = "C:/Users/Herre/Desktop/Entrega_TFM/TFM_EasyMoney/df_balanceo.csv"

# Leer el archivo
df_balanceo = pd.read_csv(ruta_archivo)

In [3]:
df_balanceo

,pk_cid,active_customer,segment,region_code,age,salary,entry_date_year,entry_date_month,entry_date_day,entry_date_weekday,...,entry_channel_KFC,entry_channel_KHE,entry_channel_KHQ,entry_channel_Otros,country_id_ES,gender_V,deceased_S,category_investment,category_financing,category_accounts
0,1297423,0.0,2,28.0,47,192902.31,2017,8,18,4,...,0,0,0,1,1,0,0,0,0,0
1,1087842,0.0,1,41.0,26,2783985.75,2015,10,24,5,...,0,1,0,0,1,0,0,0,0,0
2,1147514,0.0,1,16.0,22,81755.43,2016,7,25,0,...,0,1,0,0,1,0,0,0,0,0
3,1147863,0.0,1,2.0,22,81755.43,2016,7,25,0,...,0,1,0,0,1,0,0,0,0,0
4,1147587,0.0,1,8.0,22,81755.43,2016,7,25,0,...,0,1,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445484,1164494,0.0,1,30.0,22,67228.32,2016,8,13,5,...,0,1,0,0,1,0,0,0,0,0
445485,1164521,0.0,1,2.0,24,43249.20,2016,8,13,5,...,0,1,0,0,1,1,0,0,0,1
445486,1164462,0.0,1,13.0,25,94495.50,2016,8,13,5,...,0,1,0,0,1,0,0,0,0,1
445487,1164587,1.0,1,46.0,22,177287.82,2016,8,13,5,...,0,1,0,0,1,1,0,0,0,1
445488,1489273,1.0,2,22.0,28,60823.47,2018,10,24,2,...,0,0,0,1,1,1,0,0,0,1

Anteriormente nos hemos dado cuenta de que los datos en los 3 grupos de productos están muy descompensados.

La gran mayoría de los usuarios No tienen los productos que ofrece el banco.

Si no balanceamos los datos el porcentaje de acierto de los modelos se dispara debido al overfitting. Salen porcentajes de más del 98%.

# Investment

In [4]:
# Revisar la distribución de la variable objetivo
df_balanceo['category_investment'].value_counts(normalize=True) # Reemplaza TARGET con tu columna real

category_investment
0    0.943525
1    0.056475
Name: proportion, dtype: float64

In [5]:
# Contar las ocurrencias de cada clase
conteo_clases = df_balanceo['category_investment'].value_counts()

# Mostrar el número de '1'
num_1 = conteo_clases[1]
print(f"Número de filas con '1': {num_1}")

Número de filas con '1': 25159

In [6]:
# Número de muestras de la clase "1" en df_balanceo
num_1 = df_balanceo[df_balanceo['category_investment'] == 1].shape[0]

# Seleccionar de manera aleatoria el mismo número de muestras de la clase "0"
df_0_random = df_balanceo[df_balanceo['category_investment'] == 0].sample(n=num_1, random_state=42)

# Crear el dataframe filtrado solo con los valores 1
df_investment = df_balanceo[df_balanceo['category_investment'] == 1]

# Unir ambos dataframes para tener uno balanceado
df_investment = pd.concat([df_investment, df_0_random])

# Mezclar las filas de manera aleatoria para evitar orden
df_investment = df_investment.sample(frac=1, random_state=42).reset_index(drop=True)

# df_investment ahora contiene el mismo número de "0" y "1" en la variable "category_investment"

In [7]:
# Revisar la distribución de la variable objetivo
df_investment['category_investment'].value_counts(normalize=True) # Reemplaza TARGET con tu columna real

category_investment
1    0.5
0    0.5
Name: proportion, dtype: float64

In [8]:
df_investment.reset_index(drop=True,inplace=True)

### Retirar columnas

Esto afectaba negativamente

In [ ]:
# Eliminar las columnas category_financing y category_accounts
df_investment = df_investment.drop(columns=['category_financing', 'category_accounts'])

# Verificamos que las columnas hayan sido eliminadas
print(df_investment.columns)

In [9]:
modelo_investment = df_investment.copy()

In [10]:
# Guardar resultados
modelo_investment.to_csv('modelo_investment.csv', index=False)

# Financing

In [11]:
# Revisar la distribución de la variable objetivo
df_balanceo['category_financing'].value_counts(normalize=True) # Reemplaza TARGET con tu columna real

category_financing
0    0.989205
1    0.010795
Name: proportion, dtype: float64

In [12]:
# Contar las ocurrencias de cada clase
conteo_clases = df_balanceo['category_financing'].value_counts()

# Mostrar el número de '1'
num_1 = conteo_clases[1]
print(f"Número de filas con '1': {num_1}")

Número de filas con '1': 4809

In [13]:
# Número de muestras de la clase "1" en df_balanceo
num_1 = df_balanceo[df_balanceo['category_financing'] == 1].shape[0]

# Seleccionar de manera aleatoria el mismo número de muestras de la clase "0"
df_0_random = df_balanceo[df_balanceo['category_financing'] == 0].sample(n=num_1, random_state=42)

# Crear el dataframe filtrado solo con los valores 1
df_financing = df_balanceo[df_balanceo['category_financing'] == 1]

# Unir ambos dataframes para tener uno balanceado
df_financing = pd.concat([df_financing, df_0_random])

# Mezclar las filas de manera aleatoria para evitar orden
df_financing = df_financing.sample(frac=1, random_state=42).reset_index(drop=True)

# df_investment ahora contiene el mismo número de "0" y "1" en la variable "category_investment"

In [14]:
# Revisar la distribución de la variable objetivo
df_financing['category_financing'].value_counts(normalize=True) # Reemplaza TARGET con tu columna real

category_financing
1    0.5
0    0.5
Name: proportion, dtype: float64

In [15]:
df_financing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9618 entries, 0 to 9617
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   pk_cid                9618 non-null   int64
 1   active_customer       9618 non-null   float64
 2   segment               9618 non-null   int64
 3   region_code           9618 non-null   float64
 4   age                   9618 non-null   int64
 5   salary                9618 non-null   float64
 6   entry_date_year       9618 non-null   int64
 7   entry_date_month      9618 non-null   int64
 8   entry_date_day        9618 non-null   int64
 9   entry_date_weekday    9618 non-null   int64
 10  pk_partition_year     9618 non-null   int64
 11  pk_partition_month    9618 non-null   int64
 12  pk_partition_day      9618 non-null   int64
 13  pk_partition_weekday  9618 non-null   int64
 14  entry_channel_KFC     9618 non-null   int64
 15  entry_channel_KHE     9618 non-null   int64
 16  entry_channel_KHQ     9618 non-null   int64
 17  entry_channel_Otros   9618 non-null   int64
 18  country_id_ES         9618 non-null   int64
 19  gender_V              9618 non-null   int64
 20  deceased_S            9618 non-null   int64
 21  category_investment   9618 non-null   int64
 22  category_financing    9618 non-null   int64
 23  category_accounts     9618 non-null   int64
dtypes: float64(3), int64(21)
memory usage: 1.8 MB

In [16]:
df_financing.reset_index(drop=True,inplace=True)

In [17]:
modelo_financing = df_financing.copy()

In [18]:
# Guardar resultados
modelo_financing.to_csv('modelo_financing.csv', index=False)

# Account

In [19]:
df_balanceo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445489 entries, 0 to 445488
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   pk_cid                445489 non-null  int64
 1   active_customer       445489 non-null  float64
 2   segment               445489 non-null  int64
 3   region_code           445489 non-null  float64
 4   age                   445489 non-null  int64
 5   salary                445489 non-null  float64
 6   entry_date_year       445489 non-null  int64
 7   entry_date_month      445489 non-null  int64
 8   entry_date_day        445489 non-null  int64
 9   entry_date_weekday    445489 non-null  int64
 10  pk_partition_year     445489 non-null  int64
 11  pk_partition_month    445489 non-null  int64
 12  pk_partition_day      445489 non-null  int64
 13  pk_partition_weekday  445489 non-null  int64
 14  entry_channel_KFC     445489 non-null  int64
 15  entry_channel_KHE     445489 non-null  int64
 16  entry_channel_KHQ     445489 non-null  int64
 17  entry_channel_Otros   445489 non-null  int64
 18  country_id_ES         445489 non-null  int64
 19  gender_V              445489 non-null  int64
 20  deceased_S            445489 non-null  int64
 21  category_investment   445489 non-null  int64
 22  category_financing    445489 non-null  int64
 23  category_accounts     445489 non-null  int64
dtypes: float64(3), int64(21)
memory usage: 81.6 MB

In [20]:
# Revisar la distribución de la variable objetivo
df_balanceo['category_accounts'].value_counts(normalize=True) # Reemplaza TARGET con tu columna real

category_accounts
1    0.735805
0    0.264195
Name: proportion, dtype: float64

In [21]:
# Contar las ocurrencias de cada clase
conteo_clases = df_balanceo['category_accounts'].value_counts()

# Mostrar el número de '0'
num_0 = conteo_clases[0]
print(f"Número de filas con '0': {num_0}")

Número de filas con '0': 117696

In [22]:
# Número de muestras de la clase "0" en df_balanceo
num_0 = df_balanceo[df_balanceo['category_accounts'] == 0].shape[0]

# Seleccionar de manera aleatoria el mismo número de muestras de la clase "1"
# Añadir replace=True para permitir la selección con reemplazo si es necesario
df_1_random = df_balanceo[df_balanceo['category_accounts'] == 1].sample(n=num_0, replace=True, random_state=42)

# Crear el dataframe filtrado solo con los valores 0
df_account = df_balanceo[df_balanceo['category_accounts'] == 0]

# Unir ambos dataframes para tener un conjunto balanceado
df_account = pd.concat([df_account, df_1_random])

# Mezclar las filas de manera aleatoria para evitar orden
df_account = df_account.sample(frac=1, random_state=42).reset_index(drop=True)

# Ahora df_account contiene el mismo número de "0" y "1" en la variable 'category_accounts'

In [23]:
# Revisar la distribución de la variable objetivo
df_account['category_accounts'].value_counts(normalize=True) # Reemplaza TARGET con tu columna real

category_accounts
1    0.5
0    0.5
Name: proportion, dtype: float64

In [ ]:
df_account.info()

In [24]:
df_account.reset_index(drop=True,inplace=True)

In [25]:
modelo_account = df_account.copy()

In [ ]:
modelo_account.info()

In [26]:
# Guardar resultados
modelo_account.to_csv('modelo_account.csv', index=False)